*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    --abiRoshan:#397eff;
  --abiTire:#002046;

}
body{
   background: url(./blob-scene-haikei\ \(1\).png);
   background-size: cover;
   background-repeat: no-repeat;
}
.calc{
   width: 400px;
    margin-inline: auto
    ;
}
.display {
    color: #ffffff;
    backdrop-filter: blur(3px);
    width: 450px;
    overflow-y: hidden;
    font-weight: 700;
    text-shadow:  0 0 8px rgba(0, 0, 0, 0.758);
    box-shadow: inset 0 0 5px var(--abiTire),inset 0 0 30px var(--abiRoshan), inset 0 0 50px 5px var(--abiTire) ;
    border-radius: 30px;
    text-align: right;
    font-size: 60px;
padding: 12px;
    margin-bottom: 10px;
    position: fixed;
    top: 30px;
    z-index: 10;
 }
 
 .keypad{
    /* background: #646464ad; */
    width: 450px;
    position: fixed;
    top: 130px;
    height: 600px;
    box-shadow: inset 0 0 5px var(--abiTire),inset 0 0 30px var(--abiRoshan), inset 0 0 50px 5px var(--abiTire),
     0 0 5px var(--abiTire), 0 0 30px var(--abiRoshan),  0 0 50px 5px var(--abiTire) ;
   padding-inline: 20px;
   padding-top: 10px;
    border-radius: 30px;
    color:var(--abiTire);
    font-weight: 600;
    margin-top: -5px;
    backdrop-filter: blur(3px);
    z-index: 10;
 }
 .key{
    font-size: 4rem;
    padding: 0 25px;
    margin:5px ;
    border-radius: 20px;
    width: 80px;
    box-shadow: inset 0 0 5px var(--abiRoshan),inset 0 0 20px var(--abiRoshan),inset 0 0 30px var(--abiRoshan),inset 0 0 30px var(--abiTire);
   top: 10rem;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    line-height: 90px;
    border-radius: 90px;
    cursor: pointer;
    user-select: none;
 }
 .first-row .key:first-child{
    font-size: 50px;
    padding-left: 10px;
 }
 .key:active{
   box-shadow: inset 0 0 5px var(--abiTire),inset 0 0 20px var(--abiTire),inset 0 0 30px var(--abiTire),inset 0 0 30px var(--abiTire);;
    color: var(--abiTire);
    transition: 0.2s;
 }



 /* BG animation */
   @media (width <= 800px ){
      .keypad,.display{
         width: 100vw;
         height: 60vh;
      }
 .key, .first-row .key:first-child{
   font-size: 2rem;
   padding: 0px;
   margin:0px ;
   width: 70px;
   height: 70px;
   line-height: 90px;

      }
}
